<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar">
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="index.html" th:href="@{/index}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span>用户管理</span>
                </a>
                <ul class="sub">
                    <li><a href="user_list.html" th:href="@{/users/manager}">用户列表</a></li>

                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
</html>