<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/sign_layout :: sign(~{::title}, ~{::form})">
<title>登录</title>

<form class="form-signin" th:action="@{/login}" method="post" >
    <h2 class="form-signin-heading">登录</h2>
    <div class="login-wrap">
        <input type="text" class="form-control" name="username" placeholder="User ID" autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <div th:if="${param.error}">
            账户或密码错误
        </div>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> 记住我
            <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> 忘记密码?</a>

                </span>
        </label>
        <button class="btn btn-lg btn-login btn-block" type="submit">登录</button>
        <p>或者使用社交账户登录</p>
        <div class="login-social-link">
            <a href="index.html" class="facebook">
                <i class="fa fa-facebook"></i>
                Facebook
            </a>
            <a href="index.html" class="twitter">
                <i class="fa fa-twitter"></i>
                Twitter
            </a>
        </div>
        <div class="registration">
            还没有账户?
            <a class="" href="registration.html" th:href="@{/register}">
                创建账户
            </a>
        </div>

    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Forgot Password ?</h4>
                </div>
                <div class="modal-body">
                    <p>Enter your e-mail address below to reset your password.</p>
                    <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button class="btn btn-success" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

</form>

</html>
