<!DOCTYPE html>
<html lang="zh" th:fragment="index(hello)" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="layout/app_layout :: app(~{::title}, _, _, ~{::div})">

<title>主页</title>

<div style="height: 500px;" sec:authorize="isAuthenticated()">
    Hello <span sec:authentication="name">someone</span>
    <span sec:authorize="hasRole('ROLE_SPITTER')">
                      This content is show.
        </span>
</div>
</html>
